/* .Wrapper {
    background-color: rgba(64, 218, 199, 1);
} */

.left-navbar {
    width: 280px;
    float: left;
    background-color: aquamarine;
}

/* .Main-body {
    background-color: blueviolet;
} */