.Wrapper {
    margin-top: 50px;
}

/* 
.left-navbar {
    width: 280px;
    float: left;
    background-color: aquamarine;
} */

.left-menu {
    width: 200px;
    float: left;
    background-color: yellow;
}
.feedback-main-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 85%;
        height: 80vh;
    }
.feedback-body-content {
    margin-top: 5%;
}

/*icon style*/
.svg-inline--fa.fa-circle-exclamation {
    height: 300%;
    color: lightgrey;
    margin-bottom: 3%;
}