.Wrapper {
    margin-top: 70px;
    margin: 30px;
}

.left-menu {
    margin-top: 55px;
    width: 280px;
    float: left;
    background-color: pink;
}

.Main-body {
    margin-top: 55px;
    background-color: brown;
    width: 75%;
    float: right;
}