.Wrapper {
    margin: 1%;
}

.left-menu {
    font-family: "Montserrat";
    font-size: 130%;
    margin-top: 2%;
    width: 15%;
    float: left;
    background-color: rgb(253, 253, 253);
}

.main-body {
    display: flex;
    flex-basis: 60%;
    width: 75%;
    float: right;
}