.Wrapper {
    margin: 1%;
}

.left-menu {
    font-family: "Montserrat";
    font-size: 120%;
    margin-top: 2%;
    width: 15%;
    float: left;
    background-color: rgb(253, 253, 253);
}

.question-main-body {
    display: flex;
    width: 75vw;
}

.question-add-to-cart {
    padding: 5%;
    margin: 5%;
    background-color: rgb(249, 249, 250);
    border-radius: 15px;
    font-family: Montserrat, sans-serif;

}
/* .side-navigation-panel-select-option-text{
    width: 20vw;
} */


/* modal */

.question-list-modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat, sans-serif;
}

.question-list-modal-content {
    /* width: 30vw; */
    background-color: white;
    padding: 50px;
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.question-list-modal-body {
    padding: 10px;
    border-bottom: 1px solid #eee;
    height: 30vh;
    overflow: auto;

}

.question-list-modal-footer {
    padding: 10px;
}

.question-finish-btn {
    background-color: white;
    color: rgba(64, 218, 199, 1);
    border: 3px solid rgba(64, 218, 199, 1);
    /* Green */
    padding: 5px 20px;
    border-radius: 10px;
    transition-duration: 0.4s;
}


.question-finish-btn:hover {
    background-color: rgba(64, 218, 199, 1);
    /* Green */
    color: black;
}

.question-finish-btn-container {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1%;
}

.question-add-button {
    background-color: rgb(249, 249, 250);
    border-radius: 3px;
}

.question-add-button:hover {
    background-color: rgba(64, 218, 199, 1);
}

.question-delete-button {
    background-color: rgb(249, 249, 250);
    border-radius: 3px;
    font-weight: 700;
    font-family: Montserrat, sans-serif;
}

.question-delete-button:hover {
    background-color: red;
}

.svg-inline--fa.fa-cart-plus {
    color: rgba(64, 218, 199, 1);
}

.svg-inline--fa.fa-cart-plus:hover {
    color: black;
}