@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.training-alone-start-modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat, sans-serif;
    font-size: 110%;
    z-index: 9999999;
}

.training-alone-start-modal-content {
    width: 1200px;
    height: 600px;
    background-color: white;
    padding: 50px;
    /* display: flex; */
    /* flex-direction: column; */
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.training-alone-start-modal-footer {
    margin-top: 5%;
}

.modal-title {
    margin: 0;
}

.btn-yes {
    font-size: 1rem;
}

#other-questions{
    width: 80vw;
    color: black;
    font-size: 1.7vw;
    text-align: center;
    align-self: center;
    font-family: PretendardRegular;
}


#alone-questions {
    width: 80vw;
    color: black;
    font-size: 1.7vw;
    text-align: center;
    align-self: center;
    padding-left: 6rem;
    font-family: PretendardRegular;
}

.training-alone-start-modal-body {
    position: relative;
    padding: 10px;
    border-bottom: 1px solid #eee;
    font-size: 1rem;
    z-index: 2;
    height: 100%;
}

.alone-video-controls-button-container {
    width: 95vw;
    height: 92vh;
    margin: 2rem;
    background: rgba(255, 255, 255, 0.16);
    border-radius: 15px;
    box-shadow: rgb(102 96 173 / 14%) 1px 1px 15px 5px;
    position: relative;

}


.go-interview-btn {
    background-color: white;
    color: black;
    border: 3px solid black;
    padding: 5px 20px;
    border-radius: 10px;
    margin: 10px;
}

.next-time-interview-btn {
    background-color: white;
    color: black;
    border: 3px solid black;
    padding: 5px 20px;
    border-radius: 10px;
    margin: 10px;
}

.go-interview-btn:hover {
    background-color: black;
    color: white;
    border: 3px solid black;

}

.next-time-interview-btn:hover {
    background-color: black;
    color: white;
    border: 3px solid black;

}

#alone-video-container {
    display: flex;
    flex-direction: column;
    margin: 0 1%;
    background-color: #e8f8f6;
    padding: 1.5rem;
    border-radius: 15px;
    height: 83%;

}

.video-timer-container {
    display: flex;

}
#alone-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;

}


/* Training Others */


#others-video-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.others-question-video-container {
    display: flex;
    flex-direction: column;
    margin: 0 1%;
    background-color: #e8f8f6;
    /* padding: 1.5rem; */
    border-radius: 15px;
    height: 83%;

}
.training-others-main-body {
    display: flex;
    flex-direction: column;
}


.main-controls-button-leave-meeting {
    display: flex;
    align-items: center;
}

.main-controls-block {
    display: flex;
    width: 70vw;
    align-content: center;
    background-color: rgba(64, 218, 199, 1);
    font-size: x-large;
    border-radius: 20px;
    height: 3.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px;

}

.training-others-main-controls {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 2%;
    /* color: white;
    background-color: rgba(64, 218, 199, 1); */
}

.training-others-main-controls-share-button {

    display: flex;
    align-items: center;
    border-top: 10px solid black;

}

.svg-inline--fa.fa-share-from-square {
    font-size: 3vh;
    color: black;

}

.training-navigation-right {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 15px;
    bottom: 15px;



}

.main-controls-button-share-icon {
    cursor: pointer;
    font-size: x-large;
    display: flex;
    align-items: center;
    /* margin-right: 5vh; */
    height: 50px;
}

.svg-inline--fa.fa-share-from-square {

    color:#D9D9D9;
}



.video-controls-button-container {
    width: 95vw;
    /* box-shadow: 20px 20px black; */
}

#video-container {
    display: flex;
    flex-direction: row;
    margin: 1%;
    background-color: #e8f8f6;
    padding: 1.5rem;
    border-radius: 15px;
    height: 75%;

}

#currentUserVideo,
#remoteUserVideo {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.video-user1 {
    width: 45vw;
    height: 60vh;
}


.video-user2 {
    width: 45vw;
    height: 60vh;


}

#training-others-wrapper {

    display: flex;
    flex-direction: row;
    justify-content: center;

}
.training-others-inner-box {
    width: 95vw;
    height: 92vh;
    margin: 2rem;
    background: rgba(255, 255, 255, 0.16);
    border-radius: 15px;
    box-shadow: rgb(102 96 173 / 14%) 1px 1px 15px 5px;
    position: relative;
}

/*Training Alone*/
/*모달관련 오류 - 비디오가 모달을 가리는것 같음*/

#interviewer,
#aloneCurrentUserVideoRef {
    height: 100%;
    width: 100%;
    object-fit: fill;

}



.training-alone-main-controls-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 1.5%;
    font-size: 1.5rem;
}


.training-alone-main-controls {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    /* margin-top: 2%; */
    color: white;
    margin-bottom: 2%;

}


.video-end-btn {
    background-color: #D9D9D9;
    color: black;
    padding: 5px 40px;
    border-radius: 10px;
    font-family: PretendardRegular;
}


video {
    margin-bottom: 40px;
}

i {
    color: black;
}

/* icon style */
.svg-inline--fa.fa-cloud-arrow-down {
    color: black;
}

.svg-inline--fa.fa-circle-right {
    color: black;
}

.fa.fa-video-camera {
    color: black;
}

.fa.fa-pause {
    color: black;
}

#faArrowAltIcon {
    width: 100px;
    cursor: pointer;
}

.nav-link {
    color: rgba(64, 218, 199, 1);
}

.nav-link:hover {
    color: black;
}

.btn.btn-outline-dark {
    font-weight: 700;

}


.login-modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat, sans-serif;
    font-size: 110%;
    z-index:99999999;
}

.login-modal-content {
    width: 600px;
    height: 300px;
    background-color: white;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.login-modal-body {
    position: relative;
    /* position: absolute; */
    padding: 10px;
    border-bottom: px solid #eee;
    font-size: 1rem;
}



/*training others question mark*/

#explanation-text {
    width: 200px;
    margin: 100px auto;
    background: #f3f3f3;
    border: 1px solid #d8d8d8;
    text-align: center;
  }
  #explanation-text{
    position: relative;
    display: inline-block;
  }
  
  #question-mark-icon {
    display: flex;
    width: 200px;
    padding: 2px 16px;
    cursor: pointer;
  }
  
  /* 말풍선 적절한 top 과 margin-left 로 위치조정 */
  #explanation-text {
    display: none;
    position: absolute;
    width: 450px;
    /* height: 80px; */
    padding: 20px;
    right:1%;
    top:-5%;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: #333;
    color: #fff;
    font-size: 16px;
    justify-self: center;
    text-align: left;
  }
  
  #explanation-text:after {
    position: absolute;
    bottom: 100%;
    left: 70%;
    width: 0;
    height: 0;
    margin-left: -10px;
    border: solid transparent;
    border-color: rgba(51, 51, 51, 0);
    border-bottom-color: #333;
    border-width: 10px;
    pointer-events: none;
    content: ' ';
  }
  
  #question-mark-icon:hover + .explanation-text {
    display: block;

  }
  .explanation {
    width: 10rem;
    color: #D9D9D9;
  }