@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.training-alone-start-modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat, sans-serif;
}


.training-alone-start-modal-content {
    width: 600px;
    height: 300px;
    background-color: white;
    /* padding: 50px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.training-alone-start-modal-footer {
    padding: 10px;
}

.modal-title {
    margin: 0;
}

.training-alone-start-modal-body {
    padding: 10px;
    border-bottom: 1px solid #eee;
    font-size: 20px;
}


.button.btn-start {
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 5px 20px;
    border-radius: 10px;
    margin: 10px;
}


.video-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    padding-top: 100px;

}

/* Training Others */
.training-others-main-body {
    display: flex;
    flex-direction: column;
}
.training-others-main-controls-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-controls-block , .main-controls-button.leaveMeeting {
    display: flex;
    color: lightgrey;
    font-size: x-large;
    margin: 0 770px;

}
.training-others-main-controls {
    display:flex;
    justify-content: space-evenly;
    align-items: center;

}

.training-others-main-controls-button {
    margin: 30px 30px;
    cursor: pointer;
}

.training-others-main-controls-share-button{
    
    font-size: x-large;
    display: flex;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    /* margin: 20px;
    height: 100%;
    width: 30%; */
}

.main-controls-button-share-icon {
    cursor: pointer;
    margin-top: 5px;
    color: lightgrey;
    font-size: x-large;
    display: flex;
    align-items: flex-end;
    margin: 30px;
}

.video-next-question-btn {
    display: flex;
    color: lightgrey;
    font-size: x-large;
    margin: -88px 1370px;

}
.video-grid {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.training-others-inner-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: grey;
}
/*Training Alone*/
.training-alone-main-controls-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

}

.main-controls-block , .main-controls-button.leaveMeeting {
    display: flex;
    color: lightgrey;
    font-size: x-large;
    margin: 0 770px;

}
.training-alone-main-controls {
    display:flex;
    justify-content: space-evenly;
    align-items: center;

}

.training-alone-main-controls-button {
    margin: 30px 30px;
}


.video-end-btn {
    background-color: red;
    color: white;
    padding: 5px 40px;
    border-radius: 10px;
}

span.training-alone-main-controls-button {
    display: flex;
    flex-direction: column;
}
video {
    margin-bottom: 40px;
}