.interview-room-body {
    display: flex;
    justify-content: center;
}

.interview-room-container-box {
    width: 80%;
    /* background-color: rgb(235, 255, 248); */
    /* height: 70vh; */
    display: flex;
    flex-wrap: wrap;

}

.interview-room {
    width: 23vw;
    height: 23vh;
    border: 1px soild #2b6dae;
    border-radius: 10px;
    display: flex;
    background-color: #F9F9FA;
    margin: 1vw;
    padding: 2%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-content: center;
    position: relative;
    box-shadow: 1px 1px 1px 1px rgb(236, 244, 241);
}

.interview-room-name {
    font-family: "DohyeonBold";
    font-size: 300%;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

.category-people-count-container {
    display: flex;
    width: 85%;
    justify-content: center;
    align-items: center;
    gap: 3%;
    position: absolute;
    bottom: 20%;

}

.interview-room-category-container {
    display: flex;
    /* margin-top: 3% */
}

.interview-room-category {
    font-family: "DohyeonLight";
    font-size: 100%;
    width: 11vmin;
    height: 3.5vmin;
    text-align: center;
    background-color: rgb(198, 246, 231);
    /* background-color: rgb(64, 218, 199, 1); */
    margin: 1%;
    color: rgb(10, 46, 37);
    border-radius: 7px;
    padding: 1%;
}

.interview-room:hover {
    background-color: rgb(240, 241, 240);
}

.room-people-count {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.techterview-banner-image {
    width: 100%;
    height: 25vh;
    /* height: 100%; */
}


.ballon {
    position: absolute;
    width: 260px;
    height: 130px;
    right: 200px;
    bottom: 190px;
    background: rgb(181, 181, 251);
    color: black;
    border-radius: 5px;
    padding: 12px 12.8px;
    font-size: 100%;
}

.ballon:after {
    border-top: 50px solid rgb(181, 181, 251);
    ;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 0px solid transparent;
    content: "";
    position: absolute;
    top: 100px;
    left: 230px;
}

.no-room {
    font-family: PretendardRegular;
    font-size: 25px;
    width: 30%;
    justify-content: center;
    text-align: center;
    display: flex;
    align-content: center;
    gap: 7%;
}

#faFaceSadTear {
    height: 8%;
}