@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.training-alone-start-modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat, sans-serif;
    font-size: 110%;
    z-index: 9999999;
}

.training-alone-start-modal-content {
    width: 1200px;
    height: 600px;
    background-color: white;
    padding: 50px;
    /* display: flex; */
    /* flex-direction: column; */
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.training-alone-start-modal-footer {
    margin-top: 5%;
}

.modal-title {
    margin: 0;
}

.btn-yes {
    font-size: 1rem;
}

#alone-questions {
    width: 80vw;
    color: black;
    font-size: 1.7vw;
    text-align: center;
    align-self: center;
    padding-left: 6rem;
    font-family: PretendardRegular;
}

.training-alone-start-modal-body {
    position: relative;
    /* position: absolute; */
    padding: 10px;
    border-bottom: 1px solid #eee;
    /* font-size: 100%; */
    font-size: 1rem;
    z-index: 2;
}

.alone-video-controls-button-container {
    width: 95vw;
    height: 88vh;
    margin: 3rem;
    background: rgba(255, 255, 255, 0.16);
    border-radius: 15px;
    box-shadow: rgb(102 96 173 / 14%) 1px 1px 15px 5px;

}


.go-interview-btn {
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 5px 20px;
    border-radius: 10px;
    margin: 10px;
}

.next-time-interview-btn {
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 5px 20px;
    border-radius: 10px;
    margin: 10px;
}

.go-interview-btn:hover {
    background-color: black;
    color: white;
    border: 2px solid black;

}

.next-time-interview-btn:hover {
    background-color: black;
    color: white;
    border: 2px solid black;

}

#alone-video-container {
    display: flex;
    flex-direction: row;
    margin: 1%;
    background-color: #e8f8f6;
    padding: 1.5rem;
    border-radius: 15px;
    height: 75%;
}

#alone-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;

}


/* Training Others */
.training-others-main-body {
    display: flex;
    flex-direction: column;
}


.main-controls-button-leave-meeting {
    display: flex;
    align-items: center;
}

.main-controls-block {
    display: flex;
    width: 70vw;
    align-content: center;
    background-color: rgba(64, 218, 199, 1);
    font-size: x-large;
    border-radius: 20px;
    height: 3.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px;

}

.training-others-main-controls {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 2%;
    /* color: white;
    background-color: rgba(64, 218, 199, 1); */
}

.training-others-main-controls-share-button {

    display: flex;
    align-items: center;
    border-top: 10px solid black;

}

.svg-inline--fa.fa-share-from-square {
    font-size: 3vh;
    color: black;

}

.training-navigation-right {
    display: flex;
    flex-direction: row;

}

.main-controls-button-share-icon {
    cursor: pointer;

    /* margin-top: 5px; */
    color: lightgrey;
    font-size: x-large;
    display: flex;
    align-items: center;
    margin-right: 5vh;
    height: 50px;
}


.video-controls-button-container {
    width: 95vw;
    /* box-shadow: 20px 20px black; */
}

#video-container {
    display: flex;
    flex-direction: row;
    margin: 1%;
    background-color: #e8f8f6;
    padding: 1.5rem;
    border-radius: 15px;
    height: 75%;

}

#currentUserVideo,
#remoteUserVideo {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.video-user1 {
    width: 45vw;
    height: 60vh;
}


.video-user2 {
    width: 45vw;
    height: 60vh;


}

.training-others-inner-box {
    width: 95vw;
    height: 88vh;
    margin: 3rem;
    background: rgba(255, 255, 255, 0.16);
    border-radius: 15px;
    box-shadow: rgb(102 96 173 / 14%) 1px 1px 15px 5px;

}

/*Training Alone*/
/*모달관련 오류 - 비디오가 모달을 가리는것 같음*/

#interviewer,
#aloneCurrentUserVideoRef {
    height: 100%;
    width: 100%;
    object-fit: fill;

}



.training-alone-main-controls-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 1.5%;
    font-size: 1.5rem;
}


.training-alone-main-controls {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 2%;
    color: white;

}


.video-end-btn {
    background-color: #D9D9D9;
    color: black;
    padding: 5px 40px;
    border-radius: 10px;
    font-family: PretendardRegular;
}


video {
    margin-bottom: 40px;
}

i {
    color: black;
}

/* icon style */
.svg-inline--fa.fa-cloud-arrow-down {
    color: black;
}

.svg-inline--fa.fa-circle-right {
    color: black;
}

.fa.fa-video-camera {
    color: black;
}

.fa.fa-pause {
    color: black;
}

#faArrowAltIcon {
    width: 100px;
    cursor: pointer;
}

.nav-link {
    color: rgba(64, 218, 199, 1);
}

.nav-link:hover {
    color: black;
}

.btn.btn-outline-dark {
    font-weight: 700;

}


.login-modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat, sans-serif;
    font-size: 110%;
<<<<<<< HEAD
    z-index: 9999999;

=======
    z-index:99999999;
>>>>>>> 2c8d0bf519e550f80c3977efa906a094b0f853ae
}

.login-modal-content {
    width: 600px;
    height: 300px;
    background-color: white;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.login-modal-body {
    position: relative;
    /* position: absolute; */
    padding: 10px;
    border-bottom: px solid #eee;
    font-size: 1rem;
}