.video-delete-modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat, sans-serif;
}

.video-delete-modal-content{
    background-color: white;
    border-radius: 15px;
    padding: 3%;
    text-align: center;
}

.video-delete-modal-footer {
    padding: 10px;
}

.modal-title {
    margin: 0;
}

.video-delete-modal-body {
    padding: 10px;
    border-bottom: 1px solid #eee;

    
}

.btn-save {
    background-color: white;
    color: rgba(64, 218, 199, 1);
    border: 3px solid rgba(64, 218, 199, 1);
    padding: 5px 20px;
    border-radius: 10px;
    transition-duration: 0.4s;

}


.btn-save:hover {
    background-color: rgba(64, 218, 199, 1);
    /* Green */
    color: white;
}


.btn-yes {
    background-color: white;
    color: black;
    border: 3px solid black;
    padding: 5px 20px;
    border-radius: 10px;
    margin: 10px;
    transition-duration: 0.4s;

}


.btn-yes:hover {
    background-color: black;
    /* Green */
    color: white;
}

button.btn-cancel {
    background-color: white;
    color: red;
    border: 3px solid red;
    padding: 5px 20px;
    border-radius: 10px;
}

.btn-cancel {
    transition-duration: 0.4s;
}

.btn-cancel:hover {
    background-color: red;
    color: black;
}

/* my video page */
.my-video-title {
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    text-align: center;
    margin: 30px;
}

.feedback-my-video-body {
    width: calc(100vw - 30%);
}


.left-menu {
    font-family: "Montserrat";
    font-size: 120%;
    margin-top: 2%;
    width: 0%;
    float: left;
    background-color: rgb(253, 253, 253);
}

/* Video Face Voice Edit Modal */
.video-edit-modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat, sans-serif;


}

.video-edit-thumbnail {
    display: inline-block;
}

.video-edit-voice-filter {
    display: inline-block;
}

.video-edit-modal-body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.video-edit-modal-content {
    width: 35%;
    height: 55%;
    background-color: white;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.video-edit-modal-footer {
    margin-top: 50px;
}

.video-edit-modal-title {
    margin: 0;
}

.video-edit-modal-body {
    margin-top: 50px;
    border-bottom: 1px solid #eee;
}

.btn-yes:hover {
    background-color: black;
    /* Green */
    color: white;
}

button.btn-cancel {
    background-color: white;
    color: red;
    border: 3px solid red;
    /* Green */
    padding: 5px 20px;
    border-radius: 10px;
}

.btn-cancel {
    transition-duration: 0.4s;
}

.btn-cancel:hover {
    background-color: red;
    /* Green */
    color: black;
}

.video-edit-face-btn {
    background-color: white;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    color: #000000;
    font-size: 18px;
    border-radius: 8px 8px 0 0;
    padding: 5px 10px;
    margin: 3px;
}

.video-edit-voice-btn {
    background-color: white;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    color: black;
    font-size: 18px;
    border-radius: 8px 8px 0 0;
    padding: 5px 10px;
}

.video-edit-face-btn:hover {
    border: 3px solid lightseagreen;
    color: black;
}

.video-edit-voice-btn:hover {
    border: 3px solid lightseagreen;
    color: black;
}

.video-question-list {
    background-color: white;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    color: #000000;
    font-size: 18px;
    border-radius: 6px;
    padding: 5px 10px;
    margin: 3px;
}

.video-question-list:hover {
    border: 3px solid lightseagreen;
    color: black;
}


/*video-save-modal*/

.my-video-prev-modal {
    width: 765px;
    height: 550px;
    background-color: white;
    padding: 50px;
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.video-save-modal-row {
    display: grid;
    grid-template-columns: 0.5fr 5fr;
    text-align: left;
    padding-left: 1%;

}

input.video-save-input-checkbox {
    transform : scale(1.3);
}

.video-save-modal-content {
    width: 35%;
    height: 60%;
    background-color: white;
    /* padding: 0 50px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4%;
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    transition-duration: 0.4s;
    /* overflow: auto; */

}

.video-save-modal-body {
    /* margin-top: 50px; */
    width: 100%;
    border-bottom: 1px solid #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    /* position: relative; */
}

.video-save-modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Montserrat, sans-serif;
 

}

.video-save-modal-footer {
    /* margin-top: 50px; */
    position: absolute;
    bottom: 8%;
    
}

.video-save-cancel-btn{
    background-color: white;
    color: black;
    border: 3px solid black;
    padding: 5px 20px;
    border-radius: 10px;
    transition-duration: 0.4s;
}

.video-save-cancel-btn:hover {
    background-color: black;
    color: white;
}

.video-save-no-video-footer {
    padding: 30px;
}

.video-save-btn{
    background-color: white;
    color: black;
    border: 3px solid black;
    padding: 5px 20px;
    border-radius: 10px;
    transition-duration: 0.4s;
}

.video-save-modal-table-wrapper {
    margin-top: 1%;
    height: 32vh;
    width: 90%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    position: relative
}


.video-save-modal-table {
    font-family: Pretendardregular;
    color:black;
    font-size: 16px;
    width:90%;
    padding: 0 10%;
    position: absolute;
    top: 12%;
    left: 12%;
}
.video-save-btn:hover {
    background-color: black;
    color: white;
}