.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Ovinsecure */
.VidParticipantInputBox {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-b;
}

input#userName{
  margin-left: 20px;
  width: 200px;
}

.VidSessionInputBox {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}

input#sessionId{
  margin-left: 20px;
  width: 200px;
}

.jumbotron.vertical-center {
  margin: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

label.nickname {
  color: white;
}

label.sessionId {
  color: white;
}

div#session-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}  