/* Navigationbar1 */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");

.navigation-bar {
  padding: 0 20px;
}

.navigation-bar-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.navigation-bar-logo {
  font-size: 32px;
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  line-height: 250%;
  letter-spacing: 0.2px;
  color: rgba(64, 218, 199, 1);
  width: 369px;
  height: 26px;
  word-wrap: break-word;
}

button {
  background-color: white;
  border-style: none;
  cursor: pointer;
  padding: 0 20px;
}

.main-page-body {
  position: relative;
  margin: 20px;
  font-family: Montserrat, sans-serif;
}

.body-phrase1 {
  font-size: 3em;
  text-align: center;
}

.body-phrase2 {
  font-size: 1em;
  text-align: center;
  margin: 30px;
}

.main-photo1 {
  text-align: center;
}

.main-photo {
  width: 362px;
}

.main-page-enter-btn {
  text-align: center;
}

button.main-page-enter-btn {
  font-weight: 800;
  color: white;
  background-color: black;
  padding: 20px 60px;
  margin: 20px;
}

/* feedback-menu */


ul.navigation-bar-vertical {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  list-style-type: none;
  margin-top: 70px;
  font-family: Montserrat, sans-serif;
}

li {
  margin: 20px;
}

/* feedback-table */
.feedback-table {
  margin: 45px;
  justify-content: center;
  font-family: Montserrat, sans-serif;
  flex: 1;
}

table {
  margin: auto;
}

td {
  padding: 25px 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-container-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedbackdetail-video-grid-container-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedbackdetail-video-grid-box {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}

.feedbackdetail-title {
  text-align: center;
}

.feedbackdetail-title-right {
  margin-left: 30px;
  margin-bottom: 20px;
}

/* login */

.Wrapper-login {
  margin: 50px;
  margin-top: 50px;
}

.login-body {
  /* display: flex; */
  justify-content: space-evenly;
  margin-top: 80px;
}

.login-box {
  position: relative;
  height: 100%;
  border: 1px solid #ffffff;
  margin-top: 6.75rem;
  display: block;
  width: 100%;
  align-items: center;

  margin-bottom: 3.75rem;
  text-align: center;
}

.login-box2 {
  width: 100%;
  /* border: 1px solid #d7d7d7; */
  /* margin-top: 6.75rem; */
  background: #ffffff;
  /* border-radius: 0.9375rem; */
  /* margin-top: 1.875rem; */
}

.login-photo {
  text-align: center;
  /* display: block; */
}

.kakaoImage {
  text-align: center;
  margin-bottom: 90px;
}

.login-phrase1 {
  color: rgba(24, 119, 242, 1);
  font-size: 2.5rem;
  font-weight: 700;
  margin-left: 250px;
  margin-top: 50px;
}

.login-phrase2 {
  color: rgba(64, 218, 199, 1);
  font-size: 2.5rem;
  font-weight: 700;
}

/* training */
.training-navigation-bar-logo {
  font-size: 32px;
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  line-height: 250%;
  letter-spacing: 0.2px;
  color: rgba(64, 218, 199, 1);
  width: 369px;
  height: 26px;
  word-wrap: break-word;
  width: 100%;
  height: 50px;
  margin-bottom: 30px;
}

.traing-inner-box {
  width: 100%;
  height: 750px;
  margin-top: 20px;
  background-color: #4e4b4b;
}

.traing-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.training-container-box {
  /* width: 100vw;
  height: 100vh; */
  margin-top: 10px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.training-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 120px;
}

.training-grid-container-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.others-lobby-header2 {
  /* display: flex;
  justify-content: space-between;
  height: 200px;  미정이 css*/   

  /* 뷰트캠프 css */
  min-width: 272px;
  height: 100vh;
  position: fixed;
  background-color: white;
  z-index: 9;
}

/* .others-lobby-header2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
} */

/* training alone */
.training-alone-dropbox {
  justify-content: center;
}

.others-lobby-enter-room-btn {
  /* margin: 70px 100px; */
  float: right;
  padding: 10px 50px;
  border: 3px solid #4e4b4b;
  border-radius: 10px;
}

.add-face-filter-voice-btn {
  border: 2px solid lightgrey;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
  border-radius: 10px;
}

.video-delete-btn {
  border: 2px solid lightgrey;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
  border-radius: 10px;
}

.webcamalone {
  margin-right: 800px;
}

.video {
  width: 400px;
  height: 230px;
  background: black;
}

.section {
  margin: 15px;
}

@font-face {
  font-family: "DohyeonRegular";
  src: url("../assets/fonts/DoHyeon-Regular.ttf");
}

@font-face {
  font-family: "DohyeonRegular";
  src: url("../assets/fonts/DoHyeon-Regular.ttf");
}

@font-face {
  font-family: "DohyeonBlack";
  src: url("../assets/fonts/NotoSansKR-Black.otf");
}

@font-face {
  font-family: "DohyeonBold";
  src: url("../assets/fonts/NotoSansKR-Bold.otf");
}
@font-face {
  font-family: "DohyeonMedium";
  src: url("../assets/fonts/NotoSansKR-Medium.otf");
}
@font-face {
  font-family: "DohyeonLight";
  src: url("../assets/fonts/NotoSansKR-Light.otf");
}

.big_wrapper {
  min-height: 100vh;
  box-sizing: border-box;
  background: rgb(245, 245, 251);
}

.anything_woosik{
  margin-right: 45%;
}
